/*=======================
         fonts
=======================*/
/* for header texts */
@font-face {
    font-family: Playfair_font;
    src: url("../font/PlayfairDisplaySC-Black.woff");
}
/* for basic normal texts */
@font-face {
    font-family: LexendExa_font;
    src: url("../font/LexendExa-VariableFont_wght.woff");
}



/*=======================
        elements
=======================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
  text-decoration: none;
  color:#f5efeb;
  font-family: LexendExa_Font;
}

h1, h2{
    font-family: Playfair_font;
    color:#f5efeb;
}


/*=======================
        header
=======================*/
header {
    background: #2f4156;
    min-height: 5vh;
    display: grid;
    grid-template-columns: 3fr 3fr;
    padding: 1vh 1vw;
}

header>div:nth-of-type(1)>a{
    display: flex;
    align-items: center;
}

header>div:nth-last-of-type(1){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2vw;
    align-items: center;
}

header img{
    height: 6.5vh;
}


/*============================
            footer  
=============================*/
footer {
    background: #2f4156;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,auto);
    padding: 0.5vh 1vw;
}

footer *{
    text-align: left;
    color:#f5efeb;
    font-family: LexendExa_Font;
    padding: 0.5vh 0vw;
}

footer img{
    height:15vh;
}

footer h6{
    text-align: center;
    font-family: Playfair_Font;
}

footer h4>u{
    font-family: Playfair_Font;
}

footer p, footer a{
    font-size: 0.75vw;
    padding: 0.5vh 0vw;
}
footer>a{
    grid-column: 1;
    grid-row: 1;
    justify-content : center;
    display: flex;
    place-items: end;
    padding: 4vh 1vw;
}


footer div{
    padding:1vw 1vh;
    grid-row: 1 / span 2;
}

footer nav{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

/*=======================
        main pg
=======================*/
.mainPage {
    display: grid;
    background-color: #c8d9e6;
    background-image: url('../img/pic_1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    min-height: 90vh;
    
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 5vh 3.5vw;
}

.mainPage h1{
    color:#2f4156;
    font-size: 8.5vw;
}

.mainPageButtons{
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap:2vw;
}

.mainPageButtons>a {
    background-color: #2f4156;
    color: #f5efeb;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    min-width: 27vw;
    justify-content: center; 
    align-content: center;
    padding: 2vh 1vw;
    border-radius: 16px;
}

.mainPageButtons>a:nth-last-of-type(1){
    grid-column: 1/span 2;
    justify-self: center;
}

/*=======================
        company pg
=======================*/
.gamingPg, .ecoPg, .techPg{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1d1e34;
    margin: 1vh 1vw;
}

.gamingPg> .companyContent, .ecoPg> .companyContent, .techPg> .companyContent {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #186987;
    border: 10px;
    border-color: #ffffff;
    margin: 1vh 1vw;
}

.right-img {
    flex-direction: row-reverse;
}

.left-img {
    flex-direction: row;
}

.img-container {
    flex: 1;
    background: blanchedalmond;
}
.img-comtainer img {
    flex: 1;
    object-fit: cover;
    background: blanchedalmond;
}


.companyContent>article {
    flex: 2;
    margin: 1vh 1vw;
    background: yellowgreen;
}

.companyContent>article h2 {
    font-size: 5vw;
}

.companyContent>article p {
    font-size: 1vw;
}

.large-img {
    width: 100%;
    height: auto;
}

.back-img {
    height: 100%;
    margin: 1vh 1vw;
}
