* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background: #186987;
    height: 5vh;
}

main {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
    background: #186987;
}

footer {
    background: #eefbff;
    height: 5vh;
}

main>.mainPage {
    display: flex;
    flex-direction: row;

    background: #186987;

    height: 90vh;

    align-items: center;
    justify-content: space-evenly;
}

main>.mainPage>.title-img {
    flex: 1;

    height: 100%;
    width: auto;
}

main>.mainPage>.title-img img {

    height: 100%;
    width: 100%;

    object-fit: cover;
}

main>.mainPage>.title_buttons {
    flex: 2;

    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    margin: 1vh 1vw;
    background: #6babbc;
    border-radius: 15px;
    border: 15px solid #e7fbff;
}

main>.mainPage>.title_buttons>.title {

    -webkit-text-stroke: 0.1vw #1d1e34;

    color: #ffffff;
    font-size: 5vh;
}

main>.mainPage>.title_buttons>.mainPageButtons {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 1vh 1vw;
    width: 90%;

}

main>.mainPage>.title_buttons>.mainPageButtons>.link_button {
    flex: 1;

    background-color: #186987;
    color: #ffffff;

    border: 0px;

    margin: 1vh 1vw;
    box-shadow: #0f2542;

    text-align: center;
    text-decoration: none;

    font-size: 3vh;

}

main>.companyPage {
    display: flex;
    flex-direction: column;

    height: auto;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;

    background-color: #1d1e34;

    margin: 1vh 1vw;
}

main>.companyPage>.companyContent {
    display: flex;

    width: 90%;

    background-color: #186987;

    border: 10px;
    border-color: #ffffff;

    margin: 1vh 1vw;
}

main>.companyPage>.left-img {
    flex-direction: row;

}

main>.companyPage>.right-img {
    flex-direction: row-reverse;
}

main>.companyPage>.companyContent>.left-side-img {
    flex: 1;

    background: blanchedalmond;
}

main>.companyPage>.companyContent>img {
    flex: 1;

    background: blanchedalmond;
}

main>.companyPage>.companyContent>article {
    flex: 4;

    margin: 1vh 1vw;
    background: yellowgreen;
}

.large-img {
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.back-img {

    height: 100%;
    margin: 1vh 1vw;

}